/* .div{
    background-color: black;
}
@media only screen and (min-width:640px) {
    .div {
            background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
            background-size: 400% 400%;
            animation: gradient 5s ease infinite;
        }
} */

.div {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

.span {
    background: linear-gradient(-45deg, #ecfd00, #e6ff01, #08fff3, #04eeff);  
    animation: gradient 1s ease infinite; 
    background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}